*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    width: 865px;
    font-family: Comic Sans Ms;
}


body{
    background-color: #d1eca9;
}
.image{
    display: block;
    
object-fit: cover;
    width: 100%;
    height: 500px;

 
}

.whole-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Comic Sans Ms;
}
.ingredients{
    line-height: 1.8;
    display: flex;
    flex-wrap: wrap;
}
.steps{
    line-height: 2.4;
    display: flex;
    flex-wrap: wrap;
}
.video-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.videos{
    display: flex;
   
    justify-content: center;
}
.vid{
    padding-top: 30px;
    font-family: Comic Sans Ms;
}
@media screen and (max-width:600px){
    .steps{
        line-height: normal;
    }
    
}
h2{
margin-bottom: 20px;
}